<%= render 'shared/navigation' %>
    <h1 class= "shopping-list-heading">Shopping List</h1>
      <div class="display">  
      <p class="total-amount">Amount of food item to buy: $<%= @total_price %></p> <p class="total-amount">Total value of food needed:<%= @total_items %></p>
    </div>
    <table>
    <thead>
      <tr>
        <th>Food</th>
        <th>Quantity</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <% @shoppinglist.each do |food| %>
        <% unless food[:price].zero? %>
          <tr>
            <th><%= food[:food].name %></th>
            <th><%= food[:quantity] %><%= food[:food].measurement_unit %></th>
            <th>$ <%= food[:price] %></th>
          </tr>
        <% end %>
      <% end %>
    </tbody>
    </table>
